# 忽略大型数据库和数据文件
*.csv
*.xlsx
*.db
*.log


# 忽略opcode日志目录
failed_hashes.txt
contract_opcode/
contract_opcode_trace/
csv_benchmark_traces_output_cn/
benchmark_traces/
eth-tester/

# 忽略vscode配置文件
.vscode/

# 忽略 Python 的字节码缓存文件夹
__pycache__/
fusion_opcode_files/__pycache__/